{% extends 'basicapp/base.html' %}
{% load static %}
{% block body_block %}
<div class="homepage">
  <div class='mainmain'>
    <h1 class='main-name first-name a'>Vishav</h1><h2 class="main-name last-name"> Bangotra</h2>
    <ul class="nav justify-content-center">
      <li class="nav-item" style="padding-left:6px !important; padding-right:6px !important;">
        <a href="https://www.linkedin.com/in/vishav-bangotra-331396169"><img class='logos'src="{% static '/git.png' %}" alt=""></a>
      </li>
      <li class="nav-item" style="padding-left:6px !important; padding-right:6px !important;">
        <a href="https://www.linkedin.com/in/vishav-bangotra-331396169"><img class='logos'src="{% static '/linkedin.png' %}" alt=""></a>
      </li>
    </ul>
    <div class="webd"><span id='webd-1'>Full-stack</span><span id='webd-2'></span> Developer</div>
    <br><br><br>
  </div>
</div>

<div class="page2">
  <div class='logo-bar'>
    <span class='logo-bar-item'><img class='logo-bar-img java' src="{% static '/images/javaclean.png' %}" alt=""></span>
    <span class='logo-bar-item'><img class='logo-bar-img js' src="{% static '/images/javascript.png' %}" alt=""></span>
    <span class='logo-bar-item'><img class='logo-bar-img ts' src="{% static '/images/typescript.png' %}" alt=""></span>
    <span class='logo-bar-item'><img class='logo-bar-img react' src="{% static '/images/reactjs.png' %}" alt=""></span>
    <span class='logo-bar-item one'><img class='logo-bar-img py'src="{% static '/images/python.png' %}" alt=""></span>
    <span class='logo-bar-item'><img class='logo-bar-img django' src="{% static '/images/django.png' %}" alt=""></span>
    <span class='logo-bar-item'><img class='logo-bar-img mongodb' src="{% static '/images/mongodb.png' %}" alt=""></span>
    <span class='logo-bar-item'><img class='logo-bar-img mysql' src="{% static '/images/mysql.png' %}" alt=""></span>

  </div>



  <h2 id='quote'>“Imagination is everything. It is the preview of life’s coming attractions.”</h2>
  <h2 style="font-size: calc(1em + 1vw);text-align: center; font-family: 'Dosis', sans-serif;padding: 1%; margin-left: 50%;">-Albert Einstein</h2>
  <h1 id='aboutmeheadline'><span style="color: dodgerblue">Profile</h1>
    <h3 style='text-align: center !important; 'id='aboutmesubheadline'>A creative programmer</h1>
      <hr style='width: 70%;'>
  <div class="aboutsec">
    {% for about in abouts %}
        <div class="media">
          <div style='padding-left:0.8%;' class="media-body">
            <h3 class="mt-0">Hi and Welcome!</h3>
            <p class='about-text'>{{about.summary| linebreaks}}</p>
          </div>
          
          <div class='media-main'>
            <img id='myimg'style='width: 15rem; text-align: center !important; border-radius: 50%; margin-right: 0px !important;' src="{{about.mypic.url}}" class="align-self-start mr-3" alt="...">
            <a style='text-decoration: none; text-align:center;' target="_blank"href="{% static 'VishavBangotra_InternshalaResume.pdf' %}"><button style='width: 70% !important; text-align:center; margin-top: 10px'class="btn btn-outline-primary btn-sm">Résumé</button></a>
          </div>
          <div class='media-details'>
            <h3>Details</h3>
            <div>
              <strong>Name:</strong>
              <br>Vishav Bangotra<br>
              <strong>Age:</strong>
              <br>20
              <br><strong>Location:</strong>
              <br>Chandigarh, India <br><br>
              <button class='btn btn-outline-light'href="https://www.linkedin.com/"><img style="width: 6rem; margin-top:3px;" src="{% static '/images/linkedinln.png' %}" alt=""></a>

            </div>
          </div>
        </div>
    {% endfor %}
  </div>
</div>




<div class='page3'>
  <br>
  <h1 id='abilities-h' style='text-align: center;'>Abilities</h1>
  <p id='ab-quote' style="text-align: center;">“Life without knowledge is death in disguise.”
    <br>- Talib Kweli </p>

    <hr style='width: 50%'>
    <div class='ab-section'>
      <h1 style='text-align:center'>Skills</h2>
        <br>
        <br>
      <div class='ab-skills'>
        <div id='skills-row1'>
          <ul>
            <li>HTML5</li>
            <li>CSS3</li>
            <li>SCSS</li>
            <li>Bootstrap</li>
            <li>Web Design</li>
            <li>JavaScript</li>
            <li>Jquery</li>
            <li>SEO</li>
            <li>Ajax</li>
            <li>JSON</li>
            <li>React.js</li>
          </ul>
        </div>
        <div id='skills-row2'>
          <ul>
            <li>Python</li>
            <li>Django</li>
            <li>Java</li>
            <li>Spring boot</li>
            <li>REST APIs</li>
            <li>MySQL</li>
            <li>PostgreSQL</li>
            <li>C/C++</li>
            <li>MongoDB</li>
            <li>API testing</li>
          </ul>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
  </div>
<div class='page4'>
  <h1 id='exp-h'>Experiences</h1>
  <p id='exp-quote'>“Protons give an atom its identity, electrons its personality.”
    <br>- Bill Bryson, A short history of nearly everything
  </p>
  <hr style='width: 70%'>

  <br>
  <br>
  <br>
  <br>
  <br>
{% endblock %}
