{% extends 'basicapp/base.html' %}
{% load static %}
{% block body_block %}
<div class="homepage">

  <div class='mainmain'>
    <h1 class='main-name first-name'>Vishav</h1><h2 class="main-name last-name"> Bangotra</h2>
    <ul class="nav justify-content-center">
      <li class="nav-item" style="padding-left:6px !important; padding-right:6px !important;">
        <a href="https://github.com/vishavbangotra"><img class="logos" src="{% static '/images/git.png' %}"alt="no git"></a>
      </li>
      <li class="nav-item" style="padding-left:6px !important; padding-right:6px !important;">
        <a href="https://www.linkedin.com/in/vishav-bangotra-331396169"><img class='logos' src="{% static '/images/linkedin.png' %}" alt="no li"></a>
      </li>
    </ul>
    <div class="webd"><span id='webd-1'>Full-stack</span><span id='webd-2'></span> Developer</div>
    <br><br><br>
  </div>
</div>



<div class="page2">
  <div class="skill">
    <h2 id='quote'>“Imagination is everything. It is the preview of life’s coming attractions.”</h2>
    <h2 style="text-align: center; font-family: 'Dancing Script', cursive;padding: 1%; margin-left: 50%;">-Albert Einstein</h2>
    <h1 id='myprojectsheadline'><span style="color: dodgerblue">my</span><span> Projects</span></h1>

  <div class="project-grid">
    {% for project in projects %}
    <div class="grid-item">
      <div class="card" style="width: 25rem;">
        <img src="{{project.image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{project.title}}</h5>
          <p class="card-text">{{project.summary}}</p>
          <span></span>
          <a href="{{project.github}}" class="btn btn-primary">source</a>
        </div>
      </div>
      </div>
    {% endfor %}
  </div>
  </div>
</div>
{% endblock %}
