
.homepage{
  /* background-color: #F0F8FF !important; */
  width: auto;
  margin:0 auto;
  /* display: block; */
  min-height: 100% !important;  
  background: url("/static/img10.jpg") fixed;
  background-size: auto;
  


}
.mainmain{
  opacity: 1 !important;
  padding-top: 8%;
  padding-bottom: 4%;
}

.main-name{
  margin:0px;
  border:0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  font-family: 'Dosis', sans-serif;


}
.first-name{
  /* color: #4682B4; */
  font-size: calc(2em + 1vw);
  color:#FFD700;

}
.webd{
  padding-left: 50px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  margin-left: 51%;
  margin-top: -8%;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  color: #F0F8FF;
}

.last-name{
  color: #F0F8FF;
  font-size: calc(1.2em + 1vw);
}
.logos{
  width:1.2rem;
  margin-top: 15px;
}


ul{
     list-style-type: none;
  }
#aboutmeheadline{
  margin: 5% 0% 0% 0%;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  font-size: 40px;

}
#aboutmesubheadline{
  font-family: 'Dosis', sans-serif;
  margin: 0.4rem auto;
  
}


#my{

}

#quote{
  text-align: center;
  font-family: 'Dancing Script', cursive;
  padding: 8% 0% 0% 0%;
  font-size: calc(1em + 1vw);
}
.page2{
}
.media{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* grid-gap: 5%; */
  width: 70%;
  margin:2rem auto;

}
.media-main{
  text-align: center;
  margin: auto;

}

.media-body{
  margin-top: .7rem !important;
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
}
.media-details{
  margin-top: 1rem !important;
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
}

#myimg{
  width: 15rem; 
  text-align: center !important;
  border-radius: 50%; 
  border: inset 1px lightblue;
  margin-right: 0px !important;
}

