.homepage{
  background-color: #F0F8FF !important;

}
.mainmain{
  padding-top: 8%;
  padding-bottom: 4%;
}

.main-name{
  margin:0px;
  border:0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  font-family: 'Dosis', sans-serif;

}
.first-name{
  color: #1E90FF;
  font-size: 45px;

}
.webd{
  padding-left: 50px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  margin-left: 51%;
  margin-top: -7.2%;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  color: #17252A;
}

.last-name{
  color: #17252A;
  font-size: 32px;
}
.logos{
  width:25px;
  height: 36px;
  padding-top: 15px;
}


ul{
     list-style-type: none;
  }
#myprojectsheadline{
  margin: 5% 0% 5% 0%;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  font-size: 40px;

}
#my{

}

#quote{
  text-align: center;
  font-family: 'Dancing Script', cursive;
  padding: 4% 0% 0% 0%;
}
.page2{

}
.project-grid{
  margin-top: 2% !important;
  display: grid;
  width: 90%;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:10px;
}
.card{
  margin: 0 auto;
  float: none;
}
