.navbar-brand{
  font-family: 'Dancing Script', cursive;
}
.nav-item{
  font-family: 'Open Sans';
}
.navbar{
  font-size: 20px;
}
.mainl{
  font-size: 40px;
  padding-top: 10px;
  font-family: 'Open Sans';
}
body{
  background-color: red;
}

/* .f{
  text-align: center;
} */
/* ul#menu li{
  display: inline;
} */
/* .contact-form{
  text: hide;
  font-family: 'Slabo 27px', serif;
} */
/* span.contact-me{
  font-family: 'Oswald', sans-serif;
  font-size: 35px !important;
} */

* {
  box-sizing: border-box;
}


.column1 {
  float: left;
  width: 25%;
  padding: 10px;
}
.column2 {
  float: left;
  width: 75%;
  padding: 40px 30px 30px 30px;

}
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column1 {
    width: 30%;
  }
}
















.contact-form{
  font-size: 20px !important;
  padding : 10px 5px 5px 56px;

}
.contact-me{
  font-size: 25px;
  font-family: 'Playfair Display', serif;
  padding-bottom: 25px;
}

.mainbody{
  font-family: 'Playfair Display', serif;
  font-family: 'Gotu', sans-serif;
  font-family: 'Comic Neue', cursive;
  font-size: 35px;
}
.mainsub{
  font-size: 15px !important;
}





/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
  position: fixed;
  top: 50%;
  left: 96.5%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}
